.Header {
    width: 100%;
    height: 60px;
    background-color: #FE9A2E;
    color: white;
}

.Sidebar {
    width: 150px;
    height: auto;
    background-color: #FAAC58;
    color: white;
    padding: 5px;
}

.Body {
    padding: 10px;
    height: auto;
    background-color: #EFF8FB;
}

.Footer {
    width: 100%;
    height: 60px;
    background-color: #FAAC58;
    color: white;
}
.Cnews {
    height: auto;
    background-color: #5882FA;
}
.News {
    height: auto;
}