.Header {
    width: 100%;
    height: 60px;
    background-color: #FE9A2E;
    color: white;
    padding: 5px;
}

.Sidebar {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #A9E2F3;
    color: white;
    padding: 5px;
}

.Body {
    float: left;
    height: 100%;
    padding: 10px;
    background-color: #EFF8FB;
}

.Footer {
    width: 100%;
    height: 60px;
    background-color: #FE9A2E;
    padding: 5px;
}

.Cnews {
    height: auto;
}
.News {
    height: auto;
}
.Modal {
    background-color: #81BEF7;
    position: absolute;
    top: 150px;
    left: 200px;
    text-align: center;
    width: 180px;
    height: 120px;
}
.ModalEdit {
    background-color: #81BEF7;
    position: absolute;
    top: 100px;
    left: 200px;
    text-align: center;
    width: 800px;
    height: 400px;
}
.txtEditHeader {
     position: center;
     width: 790px;
     height: 20px;
 }
.txtEditText {
    position: center;
    width: 790px;
    height: 270px;
}