.App {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
            'head head'
            'sidebar body'
            'foot foot';
}
.Header {
    grid-area: head;
    width: 100%;
    height: 60px;
}

.Sidebar {
    float: left;
    height: 100%;
    width: 100%;
    grid-area: sidebar;
}

.Body {
    float: left;
    height: 100%;
    width: 100%;
    grid-area: body;
}

.Footer {
    width: 100%;
    height: 60px;
    grid-area: foot;
}